@theme {
   /* Cores */
   --color-graybg: #EFEFEF;
   --color-darkpurple: #5B2A78;
   --color-deepplum: #290A3B;
   --color-offwhite: #FFFEFA;
   --color-inkblack: #0C0C0C;
   --color-yellow-alert: #ffc249;
   --color-ghost-gray: #BCBCBC;
   --color-green-take: #24BD76;
   --color-green-taken: #3A7D5E;
   --color-lilac: #CEC7DD;
   --color-ghostwhite: #F7F4FF;
   --color-red-skip: #D32231;
   --color-purple-dose: #9254AD;
   --color-lightpurple: #DED8F1;
--color-bg-taken: #C4BBCA; 
   --color-bg-skipped: #250935;
   --color-ghostcolor: #585858;
   --color-blue-add: #5920F6;
   --color-card-border: rgba(133, 133, 133, 0.5);

   /* Fontes */
   --font-merriweather: "Merriweather Sans", sans-serif;
   --font-inter: "Inter", sans-serif;
}